<% provide(:title, 'Contact') %>

<h1>Venue</h1>

<p>

</p>


<h1>Organization</h1>

<div id="wrapper" style="width: 100%; overflow: hidden;">
  
  <div id="leftFloater" style="width: 49%; float: left; color: #111166;">
	<p>
	  This whole endevour is under the capable direction of <b>St&eacute;phanie Leclerc</b> (p.: 514.xxx.xxxx, e.: <a href="mailto:xxxx">xxxx@xxxx</a>). In case of questions, you should definitely contact her. 
	</p>
	<p>
	  Tagging along for the ride is <b>Taras Kowaliw</b> (p.: 416.809.8806, e.: <a href="mailto:taras@kowaliw.ca">taras@kowaliw.ca</a>). He can grudgingly handle website-related issues, and if pressed for information, might not bungle things up too badly. 
	</p>
  </div>

  <div id="rightFloater" style="width: 49%; float: right; color: #661111;">
	<p>
	  This whole endevour is under the capable direction of <b>St&eacute;phanie Leclerc</b> (p.: 514.xxx.xxxx, e.: <a href="mailto:xxxx">xxxx@xxxx</a>). In case of questions, you should definitely contact her. 
	</p>
  </div>

</div>











