<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>
  <b>Taras Kowaliw</b>:<br />
  Blah dee blah blah<br />
  p.: 416.809.8806<br />
  e.: <a href="mailto:taras@kowaliw.ca">taras@kowaliw.ca</a><br />
</p>

<p>
  <b>St&eacute;phanie Leclerc</b>:<br />
  Blah dee blah blah<br />
  p.: 514.xxx.xxxx<br />
  e.: <a href="mailto:xxxx">xxxx@kowaliw.ca</a><br />
</p>





